name: Deploy to Ubuntu Server

on:
  push:
    branches:
      - main  # main branch에서 commit이 있는 경우

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 코드 체크 아웃
    - name: Checkout Repository
      uses: actions/checkout@v2

    # JDK 17 설정
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: '17'

    # gradle 권한 부여
    - name: Setup Gradlew permissions
      run: |
        chmod +x ./gradlew

    # gradle bulid
    - name: Build with Gradle
      run: ./gradlew build
      
    - name: Set SSH Key Permission
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        
    - name: Add SSH Key
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}
        ssh-known-hosts: '52.91.141.41'

    - name: Deploy to Server with rsync
      run: |
        rsync -avz -e "ssh -o StrictHostKeyChecking=no" build/libs/*.war ubuntu@52.91.141.41

    - name: Run SSH commands
      run: |
        ssh -i ~/.ssh/id_rsa ubuntu@52.91.141.41 << 'EOF'
          pkill -f 'java -jar' || true
          nohup java -jar ~/app/SpringBootLastProject-0.0.1-SNAPSHOT.war> log.txt> &1 &EOF
